# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.FAQ_WPF.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Marta\Desktop\Projects\C#\Projects\WPF\FAQ_WPF_\.idea\.idea.FAQ_WPF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
